#hierarchical list of target taxa
#indenting is for readability only
#use a minus (-) to drop taxa (but not child taxa)

Bacteria
 Actinomycetota
  Cutibacterium acnes
  Corynebacterium tuberculostearicum
 Bacillota
  Staphylococcus aureus
  Staphylococcus capitis
  Staphylococcus epidermidis
  Staphylococcus hominis
 Pseudomonadota
 Bacteroidota
Eukaryota
 Fungi
  Malassezia globosa
  Malassezia restricta
  [Candida] auris
  Homo sapiens
Archaea
Viruses
 Human papillomavirus
 Merkel cell polyomavirus
